.col-fixed-240 {
    width: 240px;
    position: fixed;
    height: 100%;
    z-index: 1;
    -webkit-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}

.col-offset-240 {
    padding-left: 255px;
    z-index: 0;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
}

.panel{
    margin: 10px;
}

.playlist-btn{
    visibility: hidden;
}

.list-group-item:hover .playlist-btn{
    visibility: visible;
}

body { padding-top: 55px; }


.no-playlists .col-offset-240{
    padding-left: 30px;
}
.no-playlists .col-fixed-240{
    margin-left: -240px;
}
